

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: normal;
    color: #2b2b2b;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 50px;
}

#btn, .btn {
    padding: 15px 30px;
    border: none;
    border-radius: 3px;
    background-color: #2b2b2b;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

#input {
    padding: 15px 30px;
    border: dashed #666666 2.5px;
    border-radius: 3px;
    background-color: #fff;
    color: #1d1d1d;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
}

.div {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}







